__pycache__
.ipynb_checkpoints
*.pyc
*.ipynb
# starter notebooks shipped with the package (testsuit-notebooks command)
!src/testsuit/jupytertools/notebooks/*.ipynb
demo_data
*.tmp
tmp/
.current_datapack
# for testing datapack import
dataset.dico
.dataset.dico
tests/etc/mexploit/scenarii/*/conftest.py
.venv
.current_datapack
*.egg-info/
build/
dist/
